<!-- IF FORUMLIST_RELOAD -->
<script>var auto_refresh = setInterval(function(){
$('#forum_list_ricarica').load('{URL_CORRENTE} #forum_list_ricarica');
}, {TIME_RELOAD}000);</script> 
<!-- ENDIF -->

<!-- IF WHOISONLINE_RELOAD -->
<script>var auto_refresh = setInterval(function(){
$('#whoisonline_ricarica').load('{URL_CORRENTE} #whoisonline_ricarica');
}, {TIME_RELOAD}000);</script> 
<!-- ENDIF -->

<!-- IF POSTS_RELOAD -->
<script>var auto_refresh = setInterval(function(){
$('#posts').load('{URL_CORRENTE} #posts');
}, {TIME_RELOAD}000);</script> 
<!-- ENDIF -->

<!-- IF VIEWFORUM_RELOAD and SCRIPT_NAME eq 'viewforum' -->
<script>var auto_refresh = setInterval(function(){
$('#page-body').load('{URL_CORRENTE} #page-body');
}, {TIME_RELOAD}000);</script> 
<!-- ENDIF -->
