<!-- IF FORUMLIST_RELOAD -->
<script>var auto_refresh = setInterval(function(){
$('#forum_list_ricarica').load('{URL_CORRENTE} #forum_list_ricarica');
}, {TIME_RELOAD}000);</script> 
<!-- ENDID -->

<!-- IF WHOISONLINE_RELOAD -->
<script>var auto_refresh = setInterval(function(){
$('#whoisonline_ricarica').load('{URL_CORRENTE} #whoisonline_ricarica');
}, {TIME_RELOAD}000);</script> 
<!-- ENDID -->

<!-- IF POSTS_RELOAD -->
<script>var auto_refresh = setInterval(function(){
$('#whoisonline_ricarica').load('{URL_CORRENTE} #whoisonline_ricarica');
}, {TIME_RELOAD}000);</script> 
<!-- ENDID -->
